@charset "UTF-8";
/* test.scss */
/* 한글도 주석이 표현될까? */
body {
  background-color: #ccd;
  margin: 0;
  padding: 0; }

h1 {
  padding: 1em;
  color: #fff;
  border-bottom: #333;
  background-color: #a80; }
