@charset "utf-8";

/*! position_02.css */
#wrap{width: 960px; height: 3000px; background-color: #afc; margin:0 auto;
  background-image: linear-gradient(45deg, #a45, #56a);
  }
  h1{width: 100%; height: auto; padding: 2em; box-sizing: border-box;
  color:#fff; text-align: center; background-color: #05c; }

  /* madal _01__________________________*/

  .modal_win{width: 100%; height: 100%; 
    position: fixed; z-index:100; top:0;  left:0; background-color:#ccd; background-color: rgba(100,100,100,0.3)}
  
  .modal_box{width: 700px; height:400px; position:absolute top:50;  
    left: 50%; top:50; margin-top: -200px; 
    margin-left: -350px; background-color: #370;}