/* test.scss */
// 요것도 주석(한줄주석)
// 한줄 주석은 css로 변환되지 않습니다.

/* 한글도 주석이 표현될까? */

$test : #a80;

body{background-color: #ccd;
      margin: 0;
      padding: 0;}
  h1{padding:1em; 
    color:#fff;
    border-bottom: #333;
    background-color: $test;}   
    